/*-------------------------------------------Home Page-----------------------------------------*/
.main-container {
    margin-top: 5vh;
    margin-bottom: 5vh;
    min-height: 75vh;
}
.form-group textarea {
    min-height: 6em;
}
.form-container,
.home-img
{
    max-width: 1024px;
    margin-top: 2em;
}
/*-------------------------------------------Admin table-----------------------------------------*/
.table{
    table-layout: fixed;
    width: 100%;
}
.t-id {
    width: 3%;
}
.t-name,
.t-mail {
    width: 20%;
}
.t-message{
    width: 50%
}
.t-btn-view-more {
    width: 17%;
}
.t-btn-viewed {
    width: 20%
}
.td-btn,
.td-btn-toggle {
    min-height: 4em;
}
.resume {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
/*-------------------------------------FOOTER------------------------------------------------*/
footer {
    height: 10vh;
    background-color: #593196;
}
